/* chart */
.white-stroke {
  stroke: grey;
  stroke-width: 2;
  fill: none;
}

.red-stroke {
  stroke: red;
  stroke-width: 2;
  fill: none;
}

.green-stroke {
  stroke: green;
  stroke-width: 2;
  fill: none;
}

.blue-stroke {
  stroke: blue;
  stroke-width: 2;
  fill: none;
}

.point {
  fill: lightgray;
}

.selected-point {
  fill: yellow;
}